/* Employees.css */


.employees-container {
    padding: 20px;
    background-color: #fff; 
    color: #000; 
    text-align: center; 
  }
  
  
  .employees-heading {
    margin-bottom: 20px; 
    color: #ff00b5; 
  }
  
  
  .employees-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
  }
  
  .employee-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    height: 300px; 
    background-color: black; 
    color: #fff; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  
  .employee-card h3 {
    color: #ff00b5; 
  }
  
  .employee-card p {
    color: #fff; 
  }
  