/* Home.css */


.home-container {
    text-align: center;
    color: #000; 
    background-color: #ffc0cb; 
    padding: 20px;
  }
  
  
  .welcome-text {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  
  .home-image {
    width: 200px;
    height: 200px;
    margin: 0 10px;
    border-radius: 50%; 
  }
  