/* Services.css */

.services-container {
    padding: 20px;
    background-color: #fff; 
    color: #000; 
    text-align: center; 
  }
  
  
  .services-heading {
    margin-bottom: 20px; 
    color: #ff00b5; 
  }
  
  
  .services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
  }
  
  .card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    background-color: #fff; 
    color: #000; 
  }
  
  
  .card h3 {
    color: #ff00b5; 
  }
  
  .card p {
    color: black; 
  }
  